<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script> --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
  crossorigin="anonymous"></script>
<script src="./js/form-views.js"></script>
<div class="container">
  <!-- ###### HEADER WITH TITLE ######-->
  <div class="row">
    <div class="col-md-12 title">
      <h1 id="header-title">HDB.HANDLEBARS</h1>
    </div>
  </div>

  <div class="row row1">

    <!--##########################################################-->
    <!-- Login and Sign up Links -->
    <!--##########################################################-->
    <div class="col-md-12 left-side">
      <h3 class="link"><span id="login">login</span> &nbsp;<span id="signup">sign up</span></h3>

      <!--##########################################################-->
      <!-- Sign up form action="/register-username" method="post" onsubmit="return validateRegistration()"-->
      <!--##########################################################-->
      <form id="signup-form" class="hide" action="/register-username" method="post">
        <div id="message">
        </div>

        <div class="form-group">
          <label for="name-input"><b>Username</b></label>

          <input class="form-control" id="name-input" type="text" pattern="[a-zA-Z0-9]+" placeholder="Create a username"
            name="name" required minlength="4" maxlength="12" size="15">
        </div>
        <div class="form-group">
          <label for="psw-input"><b>Password</b> (must use letters and numbers)</label>

          <input class="form-control" id="psw-input" type="password" pattern="(?=.*\d)(?=.*[a-z]).{8,}" placeholder="Enter Password"
            name="psw" required minlength="8" maxlength="12" size="15">
        </div>
        <div class="form-group">
          <label for="confpsw-input"><b>Confirm Password</b></label>
          <input class="form-control" id="confpsw-input" type="password" pattern="(?=.*\d)(?=.*[a-z]).{8,}" placeholder="Confirm Password"
            name="psw" required minlength="8" maxlength="12" size="15">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" id="signUp" type="submit">Sign Up</button>

          <button type="button" onclick="document.getElementById('id02').style.display='none'" class="btn btn-danger cancelbtn">Cancel</button>
        </div>
        <div class="form-group">
          <input class="remember-me" type="checkbox" name="remember">
          <label class="form-check-label" for="exampleCheck1">Remember me</label>
          <label for="message" id="lblmessage"></label>
        </div>

        <div class="form-group">
          <span class="psw"><a class="psw" href="#">Forgot password?</a></span>
        </div>
      </form>

      <!--##########################################################-->
      <!-- Login form -->
      <!--##########################################################-->
      <form id="login-form" action="/login-username" method="post">
        <div class="form-group">
          <label for="uname-input"><b>Username</b></label>
          <input class="form-control" id="uname-input" type="text" placeholder="Enter Username" name="uname" required
            minlength="8" maxlength="12" size="15">
        </div>
        <div class="form-group">
          <label for="upsw-input"><b>Password</b></label>
          <input class="form-control" id="upsw-input" type="password" placeholder="Enter Password" name="upsw" required
            minlength="8" maxlength="12" size="15">
        </div>
        <div class="form-group">

          <button class="btn btn-primary" id="signIn" type="submit">Login</button>



          <button class="btn btn-danger cancelbtn" type="button" onclick="document.getElementById('id01').style.display='none'"
            class="cancelbtn">Cancel</button>
        </div>
        <div class="form-group">
          <input class="remember-me" type="checkbox" name="remember">
          <label class="form-check-label" for="message" id="lblmessage1">Remember Me</label>
        </div>
        <div class="form-group">
          <span class="psw"><a class="psw" href="#">Forgot password?</a></span>
        </div>

      </form>
      <br />


    </div>
  </div>
</div>
{{!-- INBUILD SRIPT --}}